<p>
  <mat-toolbar color="primary">
    <a
      
      href=""
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>credit_card</mat-icon>
      <span>Aman For E-Payment</span>
    </a>

    <span class="example-spacer"></span>
    <a class="link" href="/employees" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
      <span>Employees</span>
    </a>

    <a class="link" href="departments" mat-icon-button>
      <mat-icon>business_center</mat-icon>
      <span>Departments </span>
    </a>
  </mat-toolbar>
</p>
